@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: hsl(212, 45%, 89%);
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 1rem 0 1rem;
    border-radius: 17px;
    text-align: center;
    margin: 0 1rem;
}

.card img {
    width: 100%;
    border-radius: 1rem;
}

.text {
    padding: 22px 10px;
}

.text h1 {
    font-size: 1.5rem;
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    padding-bottom: 1rem;
}

.text p {
    color: hsl(220, 15%, 55%);
    padding-bottom: 1rem;
}

.attribution {
    font-size: 1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}